    .header { /* setting up the header design */
        background:#1F2937;
        height: 50px;
        margin: -10px;
        padding-top: 20px;
        min-width: 100%;
    
    
    }

    .header1 { /* setting up the Logo text*/
        padding-left: 300px;
        padding-right: 800px;
        color: #F9FAF8;
        font-size: 24px;
    }

    .box { /* setting up the 3 links top right of page*/
        text-align: right;
        padding: 25px;
        font-size: 18px;
        color: white;
    }

    .flex-container1 { /* Setting up the three main flex containers*/
        display: inline-flex;
        flex-direction: column;
        background: #1F2937;
        margin-left: -10px;
        margin-right: -50px;
        margin-top: 10px;
        min-width: 100%;
    }

    .box-1 { /* first flex box */
        min-height: 200px;
        min-width: 100%;
    }

    .moveR { /* moves the box-1 text to the left */
        float: left;
        padding-top: 75px;
    }  

    .p1 { /* For the "This website is awesome*/
        font-size: 48px;
        color: #F9FAF8;
        font-weight: bolder;
        padding-left: 300px;
    }

    .p2 { /* To place the awesome word underneath the rest and makes it closer*/
        margin-top: -65px;
    }

    .p3 { /* Places the Hero Secondary Text*/
        margin-top: -40px;
        padding-left: 300px;
        font-size: 18px;
        color: #e5e7eb;
        width: 30%;
        max-width: 750px;
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;

    }
    
    #Cat { /* styles the image and places it in the correct place*/
        height: auto;
        width: 600px;
        float: right;
        margin-right: 200px;
        margin-top: -210px;
        margin-bottom: 100px;
        

    
    }

    .signup {  /* Styles and sets up the button in the correct place*/
        background-color: #3882f6;
        border-radius: 5px;
        margin-left: 300px;
        border-color: #3882f6;
        color: white;
        height: 30px;
        width: 100px;
    }

    .box-2 { /* produces the row for information*/
        min-height: 200px;
        background: white;
    } 

    #info { /* Sets up the header for random information*/
        font-size: 36px;
        font-weight: bolder;
        color: #1F2937;
        text-align: center;
    }

    .rows { /* sets up the flex boxes */ 
        display: flex;
        flex-basis: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

    }
    .minibox { /*produces the size and border of the flex boxes*/
        width: 170px;
        height: 170px;
        border: #3882f6;
        border-style: solid;
        border-width: 3px;
        border-radius: 15px;
    }

    .boxgap { /* Sets up the boxes for the text under the images*/
        gap: 150px;
        display: flex;
        flex-basis: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 75px;
    }

    .textinfo { /* Styles the text under the images*/
        width: 150px;
        height: auto;
        font-size: 15px;
        color: gray;
        font-weight: lighter;
        margin-bottom: 70px;
    }


    .box-3 { /* sets up the box for the qoute*/
        min-height: 200px;
        background: #e5e7eb;
    }

    .textquote {  /* Places and styles the qoute*/
        font-size: 36px;
        color: #1F2937;
        word-break: break-all;
        word-wrap: break-word;
        font-style: italic;
        padding-left: 500px;
        padding-right: 500px;
        padding-top: 75px;
    }

    #source { /* Places the source of the qoute*/
        text-align: right;
        padding-right: 500px;
        color: black;
        font-size: 25px;
        padding-bottom: 75px;
    }

    .box-4 { /* styles the box for call to action*/
        min-height: 200px;
        background: white;
    }

    #call { /* sets up the flex box for call to action */
        display: flex;
        margin: 100px;
        margin-left: 500px;
        margin-right: 500px;
        background-color: #3882f6;
        border-radius: 10px;
        height: 150px;
        color: white; 
    }

    #actiontext { /* styles the text*/ 
        font-size: 24px;
        text-align: left;
        padding-left: 75px;
        padding-top: 45px;
    }

    #signuptext { /* styles text */
        font-size: 15px;
        text-align: left;
    }

    #button { /* styles and places button*/
        background-color: #3882f6;
        border-color: white;
        color: white;
        width: 100px;
        height: 25px;
        border-radius: 5px;
        margin-left: 275px;
    }

    .footer {
        background: #1F2937;
        text-align: center;
        padding: 24px; }